<ul class="site-nav">
  {% for link in linklists.main-menu.links %}
  {%- assign i = forloop.index | downcase -%}
  {%- assign cat = link.title | handleize -%}

  {% if section.settings.display_megamenu %}

  {%- assign is_megamenu = false -%}
  {% for block in section.blocks %}
  {% for i in (1..5) %}

  {% capture cap_megamenu_item %}megamenu_items_{{ i }}{% endcapture %}
  
  {% capture cap_banner_first_style %}banner_first_style_{{ i }}{% endcapture %}
  {% capture cap_banner_second_style %}banner_second_style_{{ i }}{% endcapture %}
  {% capture cap_banner_third_style %}banner_third_style_{{ i }}{% endcapture %}
  
  {% capture cap_link_banner_first_style %}link_banner_first_style_{{ i }}{% endcapture %}
  {% capture cap_link_banner_second_style %}link_banner_second_style_{{ i }}{% endcapture %}
  {% capture cap_link_banner_third_style %}link_banner_third_style_{{ i }}{% endcapture %}



  
  {% if block.settings[cap_megamenu_item] != blank %}
    {%- assign megamenu_item = block.settings[cap_megamenu_item] | handleize -%}
    {% if megamenu_item == cat %}
  
      {%- assign is_megamenu = true -%}
  	  {%- assign block_style = block.type -%}
  
      {%- assign featured_product = block.settings.featured_product -%}
      {%- assign title_featured_product = block.settings.title_featured_product -%}  			  
      {%- assign product = all_products[featured_product] -%}
  
      {%- assign banner_first_style = block.settings[cap_banner_first_style] -%}
      {%- assign banner_second_style = block.settings[cap_banner_second_style] -%}
      {%- assign banner_third_style = block.settings[cap_banner_third_style] -%}

      {%- assign link_banner_first_style = block.settings[cap_link_banner_first_style] -%}
      {%- assign link_banner_second_style = block.settings[cap_link_banner_second_style] -%}
      {%- assign link_banner_third_style = block.settings[cap_link_banner_third_style] -%}
  
      {%- assign dpl_column_first_style = block.settings.dpl_column_first_style_1 -%}
      {%- assign dpl_column_second_style = block.settings.dpl_column_second_style_1 -%}
  
  	  {%- assign dpl_column_first_style_2 = block.settings.dpl_column_first_style_2 -%}
      {%- assign dpl_column_second_style_2 = block.settings.dpl_column_second_style_2 -%}
  
  	  {%- assign dpl_column_first_style_4 = block.settings.dpl_column_first_style_4 -%}

    {% endif %}
  {% endif %}  

  {% endfor %}
  {% endfor %}

  {% endif %}  

  {% if section.settings.enable_sale %}
    {% assign sale_item = section.settings.sale_item | split:"," | strip | downcase | handle %}
    {% assign sale = link.title | downcase | handle  %}
  {% endif %}
  
  {% if section.settings.enable_new %}
    {% assign new_item = section.settings.new_item | split:"," | strip | downcase | handle %}
    {% assign new = link.title | downcase | handle  %}
  {% endif %}
  
  {% if section.settings.enable_hot %}
    {% assign hot_item = section.settings.hot_item | split:"," | strip | downcase | handle %}
    {% assign hot = link.title | downcase | handle  %}
  {% endif %}
  
  <li class="item{% if is_megamenu %} dropdown mega-menu{% else %}{% if linklists[link.handle] != empty %} dropdown{% endif %}{% endif %}">
    <a href="{{ link.url }}" class="{% if link.active %}current{% endif %} {% if sale_item contains sale %} sale{% endif %}">
      
      {% include 'multilang' with link.title %} 
      
      {% if sale_item contains sale %}
      <label class="icon_sale">
        {% include 'multilang' with section.settings.lb_sale %}
      </label>
      {% endif %}
      
      {% if new_item contains new %}
      <label class="icon_new">
        {% include 'multilang' with section.settings.lb_new %}
      </label>
      {% endif %}
      
      {% if hot_item contains hot %}
      <label class="icon_hot">
        {% include 'multilang' with section.settings.lb_hot %}
      </label>
      {% endif %}        
      
      {% if linklists[link.handle] != empty %}
      <span class="icon-dropdown">
        <i class="fa fa-angle-right" aria-hidden="true"></i>
      </span>
      {% endif %}
    </a> 
    
    {%- assign link_child = link.handle -%}
    {% if section.settings.display_megamenu %}  

    {% if is_megamenu %}
    <div class="site-nav-dropdown shadow {{ block_style }}">
      
      <div class="menu-mb-title" style="display: none;">
        <span class="icon-dropdown no-event">
          <i class="fa fa-angle-left" aria-hidden="true"></i>
        </span>
        {% include 'multilang' with link.title %}
      </div>
      
      <div class="container">
        <div class="row">
          {% include 'mega-menu' with link_child %}
        </div>
      </div>  
    </div>
    
    {% else %}
    
    {% if linklists[link.handle] != empty %}
    {% include 'dropdown-menu' with link_child %}
    {% endif %}
    
    {% endif %}
    
    {% else %}
    {% if linklists[link.handle] != empty %}
    {% include 'dropdown-menu' with link_child %}
    {% endif %}
    
    {% endif %}     
  </li>
  {% endfor %}
</ul>