{% if section.settings.display_size_chart %}
<a data-toggle="modal" data-target="#myModal_sizechar" class="size-chart-open-popup">
  {% include 'multilang' with section.settings.custom_size_chart_title %}
</a>

<div id="myModal_sizechar"class="size-chart modal fade" role="dialog">
  <div class="content-size-char modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <a data-dismiss="modal" href="javascript:void(0)" rel="nofollow" class="close-size-chart" title="{{ 'cart.ajax_cart.close' | t }}">
          {% include 'icon-close' %}
        </a>
        {% if section.settings.custom_size_chart_content != blank %}
        <div class="custom_size_chart_des">
          {{ section.settings.custom_size_chart_content }}
        </div>
        {% endif %}
      </div>
      <div class="modal-body">
        <div class="img-size-chart">
        <div data-app="eastsideco_sizeGuides"
            data-shop="{{ shop.permanent_domain }}"
            data-tags="{{ product.tags | join:',' | escape }}"
            data-metafields="{{ product.metafields.esc-size-matters.tag }}"
            data-popup="">
        </div>
          {% if settings.size_chart == 'product_vendor' %}          
          {% capture img_vendor %}{{ product.vendor | handle | append: '-sizechart.jpg' | file_url }}{% endcapture %}
          <img src="{{'preload-img-jp.jpg' | file_url }}" data-src="{{ img_vendor }}" alt="{{ section.settings.custom_size_chart_title }}"/>

          {% elsif settings.size_chart == 'product_type' %}          
          {% capture img_type %}{{ product.type | handle | append: '-sizechart.jpg' | file_url }}{% endcapture %}
          <img src="{{'preload-img-jp.jpg' | file_url }}" data-src="{{ img_type }}" alt="{{ section.settings.custom_size_chart_title }}"/>

          {% elsif settings.size_chart == 'different' %} 
          {% if product.metafields.c_f['Size Chart'] %}
          {% capture img_product %}{{ product.metafields.c_f['Size Chart'] }}{% endcapture %}
          <img class="a" data-src="{{ img_product }}" alt="{{ section.settings.custom_size_chart_title }}"/>
          {% endif %}

          {% elsif settings.size_chart == 'none' %} 
          <img src="{{'preload-img-jp.jpg' | file_url }}" data-src="{{ section.settings.custom_size_chart | img_url: "master" }}" alt="{{ section.settings.custom_size_chart_title }}"/>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>
{% endif %}